<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Killem App</title>
    <% include partials/head %>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <h1>Kill someone !</h1>
        </div>
        <form action="/score/create" method="post">
            <div class="form-inline">
                <div class="form-group">
                    <label for="player1" class="control-label"><b>Shooter: </b></label>
                    <select name="kill" class="form-control" id="player1">
                        <% for(var i=0; i < players.length; i++) { %>
                            <option value="<%= players[i].id %>"><%= players[i].nickname %></option>  
                            <% } %>
                    </select>   
                </div>
                <div class="form-group">
                    <label for="player2" class="control-label"><b>Target: </b></label>
                    <select name="dead" class="form-control" id="player2">
                        <% for(var i=0; i < players.length; i++) { %>
                            <option value="<%= players[i].id %>"><%= players[i].nickname %></option>  
                            <% } %>
                    </select>
                </div>
                <input class="btn btn-warning btn-small" type="submit" value="Kill him !">
                <button id="removeBtn" type="button" class="btn btn-small btn-danger"><i class="fa fa-trash"></i> Remove data </button>
                <button id="refreshBtn" type="button" class="btn btn-small btn-info"><i class="fa fa-refresh"></i> Refresh data </button>
            </div>
        </form><br><br>
        <div class="row">
            <table class="dataTable table table-striped">
                <tr>
                    <th>#Id</th>
                    <th>Nickname</th>
                    <th>Kills</th>
                    <th>Deaths</th>
                </tr>
                <% for(var i = 0; i < scores.length; i++) { %>
                <tr class="rowData">
                    <td><%= scores[i]._id %></td>
                    <td><%= scores[i].player.nickname %></td>
                    <td><%= scores[i].kills %></td>
                    <td><%= scores[i].deaths %></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>
</body>
</html>